.musae-input,
.musae-input-wrapper {
  /* border */
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  border-color: #79747e;

  /* layout */
  box-sizing: border-box;
  height: 56px;
}

.musae-input {
  padding: 4px 0 4px 16px;
  background-color: transparent;
}

.musae-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.musae-input-wrapper > .musae-input {
  outline: none;
  border: 0;
  height: auto;
}

/* addon */

.musae-input-prefix,
.musae-input-suffix {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.musae-input-prefix + .musae-input {
  padding-left: 0;
}

/* style change after focused */

.musae-input-focused,
.musae-input-wrapper-focused {
  border-color: #6750a4;
  border-width: 2px;
}
